@charset "UTF-8";

/* TODAS AS DEMAIS MEDIAS*/
  /*typical device breakpoints
  pequenas telas até 600px
  celular de 600px ate 768px
  tablet 768px até 992px
  desktop 992px ate 1200px
  grandes telas acima de 1200px
  */

  @media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 80vw !important;
        
    }
    body{
       background-image: linear-gradient(to top, #49a09d, #5f2c82); 
    }
section#login > div#imagem{
    float: left !important;
    width: 30% !important;
    height: 100% !important;
}
form > input[type=submit] {
    float: right !important;
    width: 70% !important;
}

form > a.botao {
    float: right !important;
    width: 70% !important;
}
  
  form > input[type=submit]:hover{
    background-color: #295a58 !important;
  }
  
  div.campo > input{
    background-color: #55bbb8;
    font-size: 1em !important;
    width: calc(89% - 10px) !important;
    transform: translate(32px) !important;
    height: 83% !important;
    border: 0px !important;
    border-radius: 8px !important;
    padding: 4px !important;
    position: relative !important;
    bottom: 37px !important;
  }
  
   
  }
  @media screen and (min-width: 992px){
    

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82); 
     }
    section#login {
        width: 950px !important;
    }
    section#login > div#imagem{
        float: left;
        width: 50% !important;
        height: 100% !important;
    }
    section#login > div#formulario{
        position: relative;
        float: right !important;
        width: 410px !important;
    }


    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1.2em;
      }
      div.campo > input{
        background-color: #55bbb8;
        font-size: 1em;
        width: calc(91% - 10px) !important;
        transform: translate(45px) !important;
        height: 83%;
        border: 0px;
        border-radius: 8px;
        padding: 4px;
        position: relative;
        bottom: 37px;
      }
  }